@font-face {
    font-family: shubham;
    src: url(./Poppins/Poppins-Light.ttf);
}

.page1{
    display: flex;
    flex-direction: column;
    height: 345px;
    background-color: #FFFFFF;
    border: 1px solid black;
    justify-content: center;
    padding: 70px;
    gap: 5px;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
}

h1{
    text-align: center;
}

.social{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.page2{
    background: #FF416C;
    color: #FFFFFF;
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    display: flex;
    flex-direction: column;
    width: 307.955px;
    height: 345px;
    border: 1px solid black;
    /* margin: auto; */
    justify-content: center;
    /* gap:10px; */
    padding: 70px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
}

body{
    background-color: rgba(255, 192, 203, 0.4);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.inp{
    width: 300px;
    height: 30px;
    padding: 12px 15px;
    /* padding-bottom: 5px; */
    background-color: #eee;
	border: none;
}

input[type="submit"]
{
    width:154px;
    margin: auto;
    height: 50px;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px 45px;
}

.parent{
    display: flex;
    font-family: shubham;
    justify-content: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    overflow: hidden;
}